.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.filterForm {
    margin-top: 20px; 
}
.searchParameters{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex: 1;
}
.searchName {
    flex: 1;
}
.searchType {
    flex: 1;
}
.searchSubtype {
    flex: 1;
}
.filterCard {
    display: block;
    justify-content: center;
    align-items: center;
    width:100%; 
    margin: 0 auto; 
}
@media(max-width: 700px){
    .filterCard {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 400px; 
    margin: 0 auto; 
    }
 } 
.filterBlock {
    float:left;
    margin-left: 0px;
    min-width: 250px;
}
@media(max-width: 700px){
    .filterBlock {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;  
    }
 } 
.cardBlock {
	display: flex;
    margin-left: 10px;
    flex-direction:column;
    justify-content: space-between;
}
@media(max-width: 650px){
    .cardBlock {
        width: 100%;
        justify-content: center;
        align-items: center;  
    }
 } 
 .paginatorFilterContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-top: 10px;
 }
 .pokemonFilterContainer {
     margin-top: 20px;
     justify-content: center;
     align-items: center;  
 }