.filter-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: auto;
}
.filter-Block {
    flex: 1;
    margin-top: 20px;
    padding: 10px;
    border-right: 1px solid rgba(117, 117, 117, 0.664);
}
.subtype-Block {
    margin-top: 15px;
}
.button-Block {
    margin-top: 15px;
}
.card-Block {
    flex: 5;
    margin-top: 20px;
}