.filterContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.filterForm {
    margin-top: 20px; 
}
.searchParameters{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.searchName {
    flex: 1;
}
.searchType {
    flex: 1;
}
.searchSubtype {
    flex: 1;
}
.filterCard {
    justify-content: center;
    align-items: center;
    width:100%; 
    margin: 0 auto; 
}
.filterBlock {
    background-color: violet;
    float:left;
    margin-left: 0px;
    width: 250px;
    min-width: 40px;
}
.cardBlock {
    background-color: yellowgreen;
	width: 100%;
}