.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 10px;
}
.pokemonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: auto;
    height: auto;
}
.profilePokeCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}