.cardMediaGrid {
    overflow:hidden;
    width: 280px;
    height:450px;
}
.containerGrid {
}
.cardMediaGrid img {
    padding: 20px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.cardMediaGrid img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    }
.cardGrid {
    margin-top: 50px;
}
.cardContent {
    margin-top: -20px;
}
.pagination-Block {
    margin-top: 10px;
}
.selected-Page {
    font-weight: bold;
}
.preloader {
    background-color: blue;
    width: 200px;
    height: 300px;
}