.containerGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: auto;
    height: auto;
}
.cardGrid {
    height: 450px;
    margin-top: 10px;
    margin-left: 10px;
}
.cardMediaGrid {
    overflow: hidden;
    width: 300px;
    height:450px;
}
.cardMediaGrid img {
    padding: 20px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.cardMediaGrid img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    }
.pokeCard {

}
.cardContent {
    margin-top: -20px;
}

.pagination-Block {
    margin-top: 10px;
}
.selected-Page {
    font-weight: bold;
}
.preloader {
    background-color: blue;
    width: 200px;
    height: 300px;
}