.pageHeader {
    background-color: #282c34;
}
.pageHeaderText {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHeaderText h1 {
    font-size: 100px;
    margin-top: 60px;
    color: ghostwhite;
    font-family: Pompadur;
}
@font-face {
    font-family: Pompadur;
    src: url(../../assets/font/WhiteChick.ttf)
}
.navBar {
    width: auto;
    height: 60px;  
}
.loginBlock { 
    float: right;   
}
.loginBlock a {
    text-decoration: none;
}
.logotipe {
    
}

.logotipe img {
    
}