.logo {
    float: left;
    margin-left: 150px;
    margin-top: 5px;
}

.logo img {
    width: 300px;
}

.header-text {
    float: left;
    width: 700px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 5px;
    color: ghostwhite;
    font-family: Pompadur;
}

@font-face {
    font-family: Pompadur;
    src: url(../../assets/font/WhiteChick.ttf)
}