.profilePokeCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.pokemonCardContainer {
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    width: 70%;
}
.buttonBlock {
    position: relative;
    top: auto;
    float: left;
}
.infoBlock {
    float: right;
    width: 40%;
}
@media(max-width: 900px){
    .infoBlock {
    float: none;
    width: 100%;
    }
 } 
.general {
    border-radius: 5px;
    box-shadow: 0 0 5px  black;
    height: 150px;
    
}
.informations {
    box-shadow: 0 0 5px  black;
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;
    
}
.attacks {
    box-shadow: 0 0 5px  black;
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;
    
}
.foot {
    box-shadow: 0 0 5px  black;
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;  
}
.imgBlock {
    float: left;
    width: 50%;
}
@media(max-width: 900px){
    .imgBlock {
    float: none;
    width: 100%;
    }
 } 
.imgBlock img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}