.App {
  text-align: center;
  display: grid;
  background-color: rgb(217, 217, 250);
}
.App-header {
  background-color: #282c34;
}
.App-link {
  color: #61dafb;
}
.login-Block {
  height: 250px;
  width: 400px;
  margin-top: 20px;
}