.App {
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  'h h h'
  'n c c' ;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 3fr 10fr;
  
}

.App-header {
  background-color: #282c34;
  grid-area: h;
  
}

.App-navBar {
  background-color:dimgray;
  grid-area: n;
  height: 700px;
  width: auto;
}

.App-content {
  background-color:goldenrod;
  grid-area: c;
  width: auto;
}

.App-link {
  color: #61dafb;
}